<!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Time Zone</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
        <script src="js/script.js"></script>


        <!-- FUNCION PARA EL CALCULO DE LA HORA -->
        <script type="text/javascript">
            function dateFormat(fecha)
            {
                return fecha.getDate()+"/"+fecha.getMonth()+"/"+fecha.getFullYear()+" "+fecha.getHours()+":"+fecha.getMinutes()+":"+fecha.getSeconds();
            }
         
            var dateNow=new Date();
            var dateUTC=new Date(dateNow.getUTCFullYear(), dateNow.getUTCMonth(), dateNow.getUTCDate(), dateNow.getUTCHours(), dateNow.getUTCMinutes(), dateNow.getUTCSeconds())
         
            
            var timeZone=-3;
            // Calculamos los segundos de la zona horaria
            var seconds=(timeZone*60*60)*1000;
         
            document.write("Fecha actual => "+dateFormat(dateNow));
            document.write("Fecha UTC => "+dateFormat(dateUTC));
         
            // fecha UTC
            dateUTC.setTime(dateUTC.getTime()+seconds);
         
            /* document.write("TimeZone => "+timeZone);
            document.write("Fecha UTC+TimeZone => "+dateFormat(dateUTC)); */
        </script>
       
    </head>

    <body ng-app="body">
        <div class="container" style="text-align:center">
            <h1>Calculo de Time Zone</h1>
        </div>
        <hr />
        <div class="container">
            <div ng-controller="MyController">
                <label>Introduzca la hora:</label>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" ng-model="hora" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <label>Introduzca Time Zone:</label>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="timeZone" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary" type="button" ng-click='calcular()'>Calcular</button>
                            <button class="btn btn-primary" type="button" ng-click='postHorarios()'>Horarios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    </body>
</html>
